body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to top, rgba(40, 0, 142, 0.89), rgba(79, 0, 143, 0.89),rgba(40, 0, 142, 0.89));
    color: white;
    justify-content: space-between;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

header nav a {
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    color: white;
}

header nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.section {
    display: none;
}

.section.active {
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}



.contenedor-autor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.seccion_autor1 {
    background: #c3bbcc;
    border-radius: 10px;
    padding: 20px;
    font-family: Georgia, serif;
    color: #000000;
    text-align: center;
    height: 150px;
    width: 250px;
}


.seccion_autor1 h3 {
    text-wrap: balance;
}

.seccion_autor1 p {
    color: black;
    font-size: 15px;
    text-decoration: #ffcc00 solid;
    font-family: "Comic Sans MS", cursive;
}

.seccion_autor1 a {
    color: black;
    font-size: 15px;
    text-decoration: #ffcc00 solid;
}


.seccion_autor1 a {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
}

.seccion_autor1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
}



#correo_autor {
    clear: left;
    vertical-align: top;
    line-height: 25px;
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
    padding-left: 10px;

}

#correo_autor:hover {
    color: rgba(40, 0, 142, 0.89);
    font-weight: bold;
}

#confirmacion_mensaje {
    font-size: 15px;
    display: none;
    background-color: rgba(40, 0, 142, 0.89);
    color: white;
    border-radius: 5px;
    margin-top: 300px;
    text-align: center;
    height: 20px;
    width: 220px;
    position: absolute;
    top: 50px;
    left: 37%;
    transform: translateX(-50%);
}



.seccion_autor2 {
    font-family: Georgia, serif;
    background: #c3bbcc;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    width: 300px;
}

.seccion_autor2 ul {
    list-style-type: none; /* Elimina viñetas */
    padding: 0; /* Elimina el espacio interno */
    margin: 0; /* Elimina márgenes adicionales */
    display: inline; /* Alinea los elementos como texto en línea */
    cursor: pointer;
}



.seccion_autor2 h2 {
    font-size: 30px;
    text-align: left;
}

.seccion_autor2 h3,
.seccion_autor2 ul li {
    text-align: center;
}


#HTML .color {
    color: rgba(40, 0, 142, 0.89);
}

#PYTHON .color {
    color: rgba(40, 0, 142, 0.89);
}

#CSS .color {
    color: rgba(40, 0, 142, 0.89);
}

#JAVASCRIPT .color {
    color: rgba(40, 0, 142, 0.89);
}

.seccion_autor2 ul li:hover {
    color: rgba(40, 0, 142, 0.89);
    transform: scale(1.02);
}






.contenedor-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.seccion_proyecto1 {
    background: #c3bbcc;
    border-radius: 10px;
    padding: 10px;
    font-family: Georgia, serif;
    color: #000000;
    text-align: center;
    height: 300px;
    width: 300px;
}



.seccion_proyecto2 {
    background: #c3bbcc;
    border-radius: 10px;
    padding: 10px;
    font-family: Georgia, serif;
    color: #000000;
    text-align: center;
    height: 300px;
    width: 300px;
}











#formulario-contacto {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 600px;
    background: #c3bbcc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

#formulario-contacto h2 {
    color: #000000;
}


.formulario input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 6px;
    box-sizing: border-box;
    color: #000000;
}

.formulario button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #333;
}



footer {
    margin-top: auto;
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

.social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social .iconos {
    display: inline-block;
}

.social a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.social a:hover {
    color: #ffcc00;
}

.footer p {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}